<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="/Public/Admin/bootstrap/css/bootstrap.min.css" />
    <script src="/Public/jquery-3.2.1.min.js"></script>  
    <title>Document</title>
</head>

<body>
<script type="text/javascript">
$(document).ready(function(){
    $('#btn1').click(function(){
        var phonenumber = $('#phonenumber').val();
        //alert( phonenumber);
        $.ajax({
            type:'get',
            url:'index.php?m=Admin&c=Customer&a=yanzhengma',
            data:{'phone':phonenumber},
            dataType:'json',
            success:function(data,status){
                console.log(data);
                $('#province').val(data.province);
                $('#city').val(data.city);
                $('#areacode').val(data.area);
                $('#zipcode').val(data.zipcode);
            }
        })
    })
})
</script>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEmail">手机号：</label>
        <div class="controls">
          <input type="text" id="phonenumber" placeholder="请输入手机号"><button type="button" id="btn1" class="btn">查询</button>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">省份：</label>
        <div class="controls">
          <input type="text" id="province" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">城市：</label>
        <div class="controls">
          <input type="text" id="city" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">区号：</label>
        <div class="controls">
          <input type="text" id="areacode" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">邮编：</label>
        <div class="controls">
          <input type="text" id="zipcode" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">运营商：</label>
        <div class="controls">
          <input type="text" id="operator" >
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="button" id="btn2" class="btn">提交</button>
        </div>
      </div>
    </form>
</body>
</html>