<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/Public/Admin/bootstrap/css/bootstrap.min.css" />
	<script src="/Public/Admin/bootstrap/js/bootstrap.min.js"></script>
	<style>
	#info{margin-left: 4%;}
	</style>
</head>
<body>
	<div id="info">
	<form class="form-horizontal" method="post">
		<p>修改密码</p>
		<div class="input-prepend">
		  <span class="add-on">新密码</span>
		  <input class="span2" id="prependedInput" type="password" placeholder="password" name="new_password"><br/>
		  <button class="btn btn-success" type="sumit" style="margin-top:10px;">确定</button>
		</div>
	</form>
	</div>
</body>
</html>